body {
    background-color: #68DD85;
}

.container {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#divcontainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

#ui-panel {
    z-index: 1000;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: hotpink;
}

.floating-div-fail {
    position: absolute;
    font-size: 50px;
    white-space: nowrap;
    color: red;
    font-family: "Comic Sans MS", sans-serif;
}

.floating-div-success {
    position: absolute;
    font-size: 50px;
    white-space: nowrap;
    color: lawngreen;
    font-family: "Comic Sans MS", sans-serif;
}